@charset "UTF-8";

 .ancora {
     position: fixed;
     background-color: white;
     box-shadow: 0vw 0vw 0vw 0vw 5vw #00000081;
     border-radius: 100%;
     margin-top: 10vw;
     width: 5vw;
     height: 5vw;
     margin-left: 91%;
     margin-top: ;
     -webkit-tap-highlight-color: rgba(240, 248, 255, 0);
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;  
    text-align: center;
 }

 .ancora > img {
     width: 4vw;
     height: 4vw;
     margin-top: 0.5vw;
     -webkit-tap-highlight-color: rgba(240, 248, 255, 0);
 }