@charset "UTF-8";

 .ancora {
     z-index: 1000;
     position: fixed;
     background-color: white;
     box-shadow: 0.1vw 0.1vw #00000081;
     border-radius: 100%;
     width: 5vw;
     height: 5vw;
     margin-left: 93%;
     top: 80%;
     -webkit-tap-highlight-color: rgba(240, 248, 255, 0);
     -webkit-user-select: none;  
     -moz-user-select: none;     
     -ms-user-select: none;      
     user-select: none;  
     text-align: center;
 }

 .ancora > img {
     width: 4vw;
     height: 4vw;
     margin-top: 0.5vw;
     -webkit-tap-highlight-color: rgba(240, 248, 255, 0);
 }